<h1>Post method</h1>

<form action="/directors" method="post" accept-charset="utf-8">
	<input type="text" name="id" placeholder="Livestream Id">
	<p><input type="submit" value="Continue &rarr;"></p>
</form>

<h1>Put method</h1>

<form action="/directors" method="post" accept-charset="utf-8">
  <input type="text" name="id" placeholder="Livestream Id">
  <input type="hidden" name="_method" value="PUT">
  <select name="attribute">
    <option value="favorite_camera">Camera</option>
    <option value="favorite_movies">Movies</option>
  </select>
  <input type="text" name="value" placeholder="Enter new value">
  <p><input type="submit" value="Continue &rarr;"></p>
</form>

<h1>Delete method</h1>

<form action="/directors" method="post" accept-charset="utf-8">
  <input type="text" name="id" placeholder="Livestream Id">
  <input type="hidden" name="_method" value="DELETE">
  <p><input type="submit" value="Continue &rarr;"></p>
</form>

